body
{
    margin: 0%;
    font-family: "proxima-nova", sans-serif;
    width: auto;
}
.navbar-expand-lg 
{
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 35px;
}
main {
    padding:40px;
    min-height: 700px;
}
.container1
{
    display: flex;
    margin: 65px;
}
.style
{
    font-size: 30px;
    cursor: pointer;
}
img
{
    display: flex;
    flex-direction: column;
}

.place
{
    margin: 85px;
}
.center
{
    font-size: 20px;
    cursor: pointer;
}
.container2
{
    display: flex;
}
.right
{
    margin: 85px;
}
.center
{
    margin: auto;
    margin-top: 80px;

}
.position
{
    margin-top: 100px;
    margin-bottom: 100px;
}
figcaption
{
    text-align: center;
}